/* *{outline: 1px solid red;} */


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.square{
    border: 1px solid black;
    box-sizing: border-box;
}

.colored{
    background-color: black;
}